---
- name: Create MySQL users
  mysql_user:
    login_user: "{{ root_password }}"
    login_password: "{{ root_password }}"
    name: "{{ item.name }}"
    host: '%'
    check_implicit_admin: yes
    password: "{{ item.password }}"
    priv: "{{ item.priv | default('*.*:ALL') }}"
    state: "{{ item.state | default('present') }}"
  with_items: "{{ mysql_users }}"
